#!/usr/bin/env python
# -*- coding: utf-8 -*-

the_hive_url = 'http://thehive:9000'
the_hive_key = 'YOURKEY' # The Hive auth key can be found on the The Hive web interface under the User Management
the_hive_verifycert = False
